// Colours
$color-primary: rgba(221, 96, 134, 0.808);
$color-secondary:rgba(180, 40, 105, 0.808);

$color-primary-dark:rgba(94, 13, 51, 0);
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-3: #333;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-grey-2: #eee;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// Font sizes
$default-font-size: 1.6rem;


// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;