.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      // background-image: url(/images/sara-cervera-cjiJUfFCoUs-unsplash.jpg);
      // background-size: cover;
      // height: 30rem;
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom,
            $color-secondary-light,
            $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom,
            $color-tertiary-light,
            $color-tertiary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom,
            $color-primary,
            $color-secondary);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 40rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-primary, $color-secondary),
        url(/images/sara-cervera-cjiJUfFCoUs-unsplash.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url(/images/la-albuquerque-exfRJKQGw-Q-unsplash.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
        url(/images/denis-tuksar-bHdCYVTxB1I-unsplash.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 200;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    border-radius: 3rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom,
          rgba($color-primary, 0.85),
          rgba($color-secondary, 0.85));
    }

    &--3 {
      background-image: linear-gradient(to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85));
    }
  }

  &__details {
    padding: 3rem;
    margin: 0 auto;

    p {
      font-size: 3rem;
      margin-top: -2rem;
      text-transform: uppercase;
      display: inline-block;
      font-weight: 700;
      background-image: linear-gradient(to right,
          $color-primary,
          $color-secondary);
      -webkit-background-clip: text;
      color: transparent;
      text-align: center;
    }
  }

  // front side styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // color: $color-white;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;
    text-align: center;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  //@include respond(tab-port) {
  @media only screen and (max-width: 56.25em),
  only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}